body {
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 100%;
    max-width: 1170px;
    margin: auto;
}

header{
    width: 100%;
    height: 200px;
    background-color: #fcfff5;
}

.logo {
    padding: 25px 0;
}

.logo img {
    width: 100px;
    display: block;
    margin: auto;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 430px;
    margin: auto;
}

.menu a {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 14px;
}

.menu a:hover {
    color: #a42;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 500px;
    background-image: url(../img/banner-inicio.jpg);
    background-position: center;
    background-size: cover;
}

.banner > div {
    width: 100%;
    height: 100%;
    background-color: rgba(209, 219, 189, 0.5);
}

.llamada-accion {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.llamada-accion p{
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.llamada-accion h2{
    font-size: 42px;
    color: white;
    width: 100%;
    padding: 45px 0;
    background: rgba(255, 255, 255, 0.4);
    max-width: 470px;
}
.llamada-accion a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 10px 50px;
    background-color: rgba(0,0,0,0.47);
    margin-top: 35px;
}
